*,*::after,
*::before{
    box-sizing: border-box;
}

body {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

.underline {
   text-decoration : underline; 
   font-size: 2em; 
   margin-top: 100px;
   margin-left: 20px;
   }


.formblock {
    display: flex;
    justify-content: center;
    
   
}

 input, 
 textarea {
    display: table-row;
    margin-bottom: 10px;
    width: 60%;
    height: 35px;
    border: solid 1px rgb(105, 105, 105);
    border-radius: 10px;
    padding: 10px;
}

textarea {
    height: 120px;
}

.button {
    display: flex;
    align-items: center;
}

.map {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.self-center {
    align-self: center
}

.title1{
    background: rgb(226,226,226);
}

.title2{
    background: white;
}

.title1a h2:hover{
    background: white;
    font-size: 26px;
    box-shadow: inset 0 0 10px rgba(220, 220, 220, 1);
    transition: 0.3s;
}

.title2a h2:hover{
    background: white;
    font-size: 24px;
    box-shadow: 0 10px 9px -3px rgba(220, 220, 220, 1);
}

@media screen and (min-width: 768px) {

    .underline{
        display: flex;
        font-size: 2em; 
        margin-top: 100px;
        justify-content: center;
        margin-left: -40px;
    }

    .container{
        display: flex;
        flex-flow: row nowrap;
        margin-left: 30px;
        
        
    }

    .contactblock{
        width: 50%;
    }

    .carteblock{
        width: 50%;
    }

    .formblock {
        margin-top: 50px;
    }

    .map {
        margin-top: 75px;
        margin-right: 50px;
        
    }

}

.spanh2{
    display: none;
}
@media only screen and (min-width: 900px){
    .spanh2{
        display: block;
    }
}
